/* ImperiumMC official color palette. */
:root {
  --imperium-albus: #FFFFFF;
  --imperium-aurum: #F6E0C9;
  --imperium-ruber: #E14141;
  --imperium-ater: #000000;
  --imperium-caeruleus: #4169E1;
  --imperium-viridis: #69E141;
  --imperium-purpura: #AA34EA;
  --imperium-gradient: linear-gradient(90deg, var(--imperium-purpura), var(--imperium-caeruleus));
}
